
  <div class="treasure-chests">
    <% @treasure_chests.each do |treasure_chest| %>
    <%= treasure_chest.name %>
    <%= link_to "Open", treasure_chest_path(treasure_chest), class:"btn btn-primary"%>
    <% end %>

    <%= link_to "Open a new treasure chest", new_treasure_chest_path, class:"btn btn-primary" %>
  </div>
