// @keyframes up {
//   0% { transform: translateY(-10); }
//   25% { transform: translateY(-15px); }
//   50% { transform: translateY(-20px);}
//   75% { transform: translateY(-25px); }
//   100% { transform: translateY(-30px); }
// }

// @keyframes down {
//   0% { transform: translateY(-20px); }
//   100% { transform: translateY(0); }
// }

// @keyframes shake {
//   0% { transform: translateX(0); }
//   25% { transform: translateX(-5px), translateY(-5px); }
//   50% { transform: translateX(10px), translateY(10px);}
//   75% { transform: translateX(-5px), translateY(-5px); }
//   100% { transform: translateX(5px), translateY(0); }
// }

@keyframes up {
  0% { transform: translateY(0); }
  25% { transform: translateY(-10px); }
  50% { transform: translateY(-20px); }
  75% { transform: translateY(-30px); }
  100% { transform: translateY(-40px); }
}

@keyframes down {
  0% { transform: translateY(-40px); }
  25% { transform: translateY(-30px); }
  50% { transform: translateY(-20px); }
  75% { transform: translateY(-10px); }
  100% { transform: translateY(0); }
}

@keyframes shake {
  0% { transform: translateX(0); }
  25% { transform: translateX(-5px) translateY(-5px); }
  50% { transform: translateX(10px) translateY(10px); }
  75% { transform: translateX(-5px) translateY(-5px); }
  100% { transform: translateX(5px) translateY(0); }
}

.hidden {
  display: none;
}

.chest-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center !important;
  margin: 1rem 0;
  width: 80%;
  height: 120px;
}
