<div class="navbar navbar-expand-sm navbar-light navbar-treasure-keeper">
  <div class="container-fluid d-flex justify-content-around">

    <%= image_tag asset_path("Icons/life_full.png"), class: "icon" %>

    <%= image_tag asset_path("Icons/rubygem.png"), class: "icon" %>
    
  </div>
</div>
