<div class="navbar navbar-expand-sm navbar-light navbar-treasure-keeper">
  <div class="container-fluid d-flex justify-content-around">
    <%= cl_image_tag("Treasure Keeper/life_full.png", title: "Treasure Keeper/life_full.png",
      width: 50, crop: :fill) %>

    <%= cl_image_tag("Treasure Keeper/ruby_gem.png", title: "Treasure Keeper/ruby_gem.png",
      width: 50, crop: :fill) %>
  </div>
</div>
