<%# This is going to be where the map shows and the game takes place %>

  <div class="main-page">
    <% @challenges.each do |challenge| %>
      <h2>Your challenge: <%= challenge.name %></h2>
      <h3>Status: <%= challenge.status %>
      <p><%= link_to "continue", challenge_path(challenge), class: "btn" %></p>
    <% end %>
  </div>
