<h2>Treasure Keeper</h2>
<h3>Keep expenses at bay<br>and treasure in the chest</h3>
<%= cl_image_tag("Treasure Keeper/treasure.png", title: "Treasure Keeper/treasure.png",
      width: 50, crop: :fill) %>
<%= link_to "Login", new_user_session_path, class: "nav-link" %>
