<%# We need to refactor this page to establish the name of the avatar %>

<div class="container">
  <%= simple_form_for @player do |f| %>
      <%= f.input :username %>
      <%= f.input :avatar_url, collection: ["Knight", "Elf","Wizard"] %>
      <%= f.button :submit, 'Start your journey' %>
  <% end %>
</div>
