<%# We need to refactor this page to establish the name of the avatar %>

<div class="container d-flex flex-column align-items-center" style="max-width: 250px;">
  <%= simple_form_for @player do |f| %>
      <%= f.input :username, label: false, placeholder: 'Name' %>
      <%= f.input :avatar_url, label: "Character", collection: ["Knight", "Elf archer", "Elf maiden", "Swordman", "Queen", "Wizard"] %>
      <%= f.button :submit, 'Start your journey!' %>
  <% end %>
</div>
