<div class="players-new d-flex flex-column justify-content-center align-items-center P-5">
  <div class="transparent-bg border p-3 text-center" style="height: 300px; border-radius:50px;">
    <h2>Create</h2>
    <h2 class="mb-3">your avatar</h2>
    <%= render "players/form", player: @player %>
  </div>
</div>
