<h1>Challenges#show</h1>
<p>Find me in app/views/challenges/show.html.erb</p>

<div>
  <h3><%= @challenge.name %></h3>
  <h2>To do: <%= @challenge.description %></h2>
  <h2>Against: <%= @monster.creature_type %></h2>
  <h2>Monster health: <%= @monster.healthpoints %></h2>
  <p>
    Add action buttons here
  </p>
</div>
