.btn {
  background-color: #41C835;
  color: white;
  border-radius: 15px;
  transition: background-color 0.3s, color 0.3s;


  &:hover {
    background-color: #1E88E5;
    color: white;
  }
}
a {
  text-decoration: none;
  color: #E64C3C;
}


// sign up button
.button {
  display: inline-block;
  padding: 7px 10px;
  width: 110px;
  background-color: #E64C3C;
  color: #fff;
  text-decoration: none;
  text-align: center;
  border-radius: 15px;
  border: none;
  transition: background-color 0.3s, color 0.3s;
  cursor: pointer;
  &:hover {
    background-color: #1E88E5;
    color: white;
  }
}

// styling the chest button at treasure chest index
.treasure-image {
  width:30px;
}
.challenge-image {
  width:40px;
}
