.btn {
  background-color: #41C835;
  color: white;
  border-radius: 15px;
  transition: background-color 0.3s, color 0.3s;


  &:hover {
    background-color: #1E88E5;
    color: white;
  }
}
a {
  text-decoration: none;
  color: #E64C3C;
}

// sign up link to look like a button
.button {
  display: inline-block;
  padding: 7px 10px;
  width: 110px;
  background-color: #E64C3C;
  color: #fff;
  text-decoration: none;
  text-align: center;
  border-radius: 15px;
  border: none;
  transition: background-color 0.3s, color 0.3s;
  cursor: pointer;
  &:hover {
    background-color: #1E88E5;
    color: white;
  }
}

// enrage button needs a different color. All other buttons take above class
.enrage-button {
  display: inline-block;
  padding: 7px 10px;
  background-color: #F29C1F;
  color: #fff;
  text-decoration: none;
  text-align: center;
  border-radius: 15px;
  border: none;
  transition: background-color 0.3s, color 0.3s;
  cursor: pointer;
  &:hover {
    background-color: #1E88E5;
    color: white;
  }
}

// level up button

.disabled {
  opacity: 0.5; /* Adjust the opacity as needed */
  cursor: not-allowed;
  pointer-events: none;
}


// styling the chest button at treasure chest index
.treasure-image {
  width:30px;
}
.challenge-image {
  width:40px;
}

// button animations for attack monster

@keyframes buttonshake {
  0% { transform: translateX(0); }
  25% { transform: translateX(-5px); }
  50% { transform: translateX(5px); }
  75% { transform: translateX(-5px); }
  100% { transform: translateX(5px); }
}

@keyframes buttonshake-reverse {
  0% { transform: translateX(0); }
  25% { transform: translateX(5px); }
  50% { transform: translateX(-5px); }
  75% { transform: translateX(5px); }
  100% { transform: translateX(-5px); }
}

.shake-animation {
  animation: buttonshake 0.5s ease infinite;
}
.shake-animation-reverse {
  animation: buttonshake-reverse 0.5s ease infinite;
}
// I need to make a comment for no reason so I can pull this branch
