.navbar-treasure-keeper {
  justify-content: space-between;
  background-color: #FDFBF0;
}

.navbar-treasure-keeper .navbar-collapse {
  flex-grow: 0;
}

.navbar-treasure-keeper .navbar-brand img {
  width: 40px;
}

.page-container {
  display: grid;
  min-height: 100vh;
  grid-template-rows: auto 4fr auto;
}
