.popup-red {
  width: 30vh;
  height: 30vh;
  background: #9c2828;
  border-radius: 50px;
  position: absolute;
  top: 0%;
  left: 0%;
  transform: translate(-50%, -50%) scale(0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  color: #333;
  visibility: hidden;
  transition: transform 0.4s, top 0.4s;
}

.popup-green {
  width: 34vh;
  height: 34vh;
  background: #446e31;
  border-radius: 50px;
  position: absolute;
  top: 0%;
  left: 0%;
  transform: translate(-50%, -50%) scale(0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  color: #333;
  visibility: hidden;
  transition: transform 0.4s, top 0.4s;
}

.popup img {
  padding: 0 10px 10px;
  margin-top: 10px;
  align-items: center;
  width: 100px;
  border-radius: 50%;
}

.open-popup-start {
  visibility: visible;
  left: 50%;
  margin-top: 75%;
  transform: translate(-50%, -50%) scale(1);
}
