// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "pages/landing";
@import url('https://fonts.googleapis.com/css2?family=Goblin+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@700&family=Cinzel:wght@500&family=Tangerine:wght@700&display=swap');


::-webkit-scrollbar {
  width: 0px; /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
  background: transparent; /* Hide the track */
}

::-webkit-scrollbar-thumb {
  background: transparent; /* Hide the thumb */
}

body {
  font-family: 'Cinzel Decorative', cursive;
  color: white;
  text-shadow: 1px 1px 2px black;
  overflow-wrap: break-word;
}
h1, h2, h3, h4, h5, h6, p, span {
  font-family: 'Cinzel Decorative', cursive;
  color: white;
  text-shadow: 1px 1px 2px black;
  overflow-wrap: break-word;
}

// This does nothing. I added it so I can see the colors on the hex
.team-colors {
  color: #F4EFDD;
  color: #F29C1F;
  color: #E64C3C;
  color: #41C835;
  color: #1E88E5;
  color: #8B4513;
}
